@charset "utf-8";


/* Reset CSS  */
* { margin:0; padding:0; border:0; outline:0; vertical-align:top; font-family:'nanumgothic', 'NanumGothic', 'Nanum Gothic' !important }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;  }
ul, ol, dl { list-style:none; }
img, video { max-width:100%; border:0; vertical-align:top;  }
a { vertical-align:top; text-decoration:none; /*color:#333;*/ }
table { border-collapse:collapse; border-spacing:0; }
input { vertical-align:middle; border:1px solid #ccc; margin:0; /*padding: 0 3px;*/ }
select { vertical-align:middle; height:1.7em; min-height:24px; line-height:1.7em; border:1px solid #ccc; margin:0; padding: 3px 0 3px 0; }
input[type="radio"], input.type-radio, input[type="checkbox"], input.type-checkbox  { border:none; }
textarea { border:1px solid #ccc; margin:0; padding:3px; }
form { margin:0; padding:0 }
body { font-family:'nanumgothic', 'NanumGothic', 'Nanum Gothic' !important; font-size:100%; line-height:120%; /*color:#333*/ }
div, li, p, span, a { font-size:100%; font-family:'nanumgothic', 'NanumGothic', 'Nanum Gothic' !important }

label { cursor:pointer; }
.blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
i,em,address { font-style:normal; font-weight:normal; }
.skip {
    position:absolute;
    width:0;
    height:0;
    font-size:0;
    line-height:0;
    overflow:hidden;
    visibility:hidden;
}


.btn_180px { width:180px; }
.btn_160px { width:160px; }
.btn_140px { width:140px; }
.btn_120px { width:120px; }
.btn_90px { width:90px; }
.btn_80px { width:80px; }
.btn_70px { width:70px; }
.btn_60px { width:60px; }
.btn_h26px { height:26px; line-height:26px; }

/* 서브공통 */
.fl { float: left }
.fr { float: right }
div, p, li, dd, dt { font-size:0.95em }
.valign_middle { vertical-align:middle }
.align_center { text-align:center }

.width_20px { width:20px}
.width_30px { width:30px}
.width_40px { width:40px}
.width_50px { width:50px}
.width_60px { width:60px}
.width_70px { width:70px}
.width_80px { width:80px}
.width_90px { width:90px}
.width_100px { width:100px}
.width_110px { width:110px}
.width_120px { width:120px}
.width_130px { width:130px}
.width_140px { width:140px}
.width_250px { width:250px}
.width_auto { width:auto; }
.width_50per { width:50% }
.width_49per { width:49% }
.width_48per { width:48% }
.width_20per { width:20% }
.width_25per { width:25% }
.width_30per { width:30% }