@charset "utf-8";
/* CSS Document */


table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,img {
    border: 0
}

address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var {
    font: inherit
}


caption,th {
    text-align: left
}

/*h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal
}*/

q:before,q:after {
    content: ''
}

abbr,acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: baseline
}

sub {
    vertical-align: baseline
}

legend {
    color: #000
}


input,textarea {
    outline-style: none
}

article,aside,dialog,figure,footer,header,hgroup,menu,nav,section {
    display: block;
    padding: 0
}

.container {
    margin-left: auto;
    margin-right: auto;
    /*width: 972px*/
}

.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16,.grid_17,.grid_18,.grid_19,.grid_20,.grid_21,.grid_22,.grid_23,.grid_24,.grid_25,.grid_26,.grid_27,.grid_28,.grid_29,.grid_30,.grid_31,.grid_32,.grid_33,.grid_34,.grid_35,.grid_36 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 4px;
    margin-right: 4px
}

.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15,.push_16,.pull_16,.push_17,.pull_17,.push_18,.pull_18,.push_19,.pull_19,.push_20,.pull_20,.push_21,.pull_21,.push_22,.pull_22,.push_23,.pull_23,.push_24,.pull_24,.push_25,.pull_25,.push_26,.pull_26,.push_27,.pull_27,.push_28,.pull_28,.push_29,.pull_29,.push_30,.pull_30,.push_31,.pull_31,.push_32,.pull_32,.push_33,.pull_33,.push_34,.pull_34,.push_35,.pull_35,.push_36,.pull_36 {
    position: relative
}

.alpha {
    margin-left: 0
}

.omega {
    margin-right: 0
}

.container .grid_1,.container_27 .grid_1 {
    width: 19px
}

.container .grid_2,.container_27 .grid_2 {
    width: 46px
}

.container .grid_3,.container_27 .grid_3 {
    width: 73px
}

.container .grid_4,.container_27 .grid_4 {
    width: 100px
}

.container .grid_5,.container_27 .grid_5 {
    width: 127px
}

.container .grid_6,.container_27 .grid_6 {
    width: 154px
}

.container .grid_7,.container_27 .grid_7 {
    width: 181px
}

.container .grid_8,.container_27 .grid_8 {
    width: 208px
}

.container .grid_9,.container_27 .grid_9 {
    /*width: 13.5%;*/
    width:220px;
}

.container .grid_10,.container_27 .grid_10 {
    width: 262px
}

.container .grid_11,.container_27 .grid_11 {
    width: 289px
}

.container .grid_12,.container_27 .grid_12 {
    width: 316px
}

.container .grid_13,.container_27 .grid_13 {
    width: 343px
}

.container .grid_14,.container_27 .grid_14 {
    width: 370px
}

.container .grid_15,.container_27 .grid_15 {
    width: 397px
}

.container .grid_16,.container_27 .grid_16 {
    width: 424px
}

.container .grid_17,.container_27 .grid_17 {
    width: 451px
}

.container .grid_18,.container_27 .grid_18 {
    width: 478px
}

.container .grid_19,.container_27 .grid_19 {
    width: 505px
}

.container .grid_20,.container_27 .grid_20 {
    width: 532px
}

.container .grid_21,.container_27 .grid_21 {
    width: 559px
}

.container .grid_22,.container_27 .grid_22 {
    width: 586px
}

.container .grid_23,.container_27 .grid_23 {
    width: 613px
}

.container .grid_24,.container_27 .grid_24 {
    width: 580px
}

.container .grid_25,.container_27 .grid_25 {
    width: 580px; 
}

.container .grid_26,.container_27 .grid_26 {
    width: 694px
}

.container .grid_27,.container_27 .grid_27 {
    width: 721px
}

.container .grid_28,.container_27 .grid_28 {
    width: 748px
}

.container .grid_29,.container_27 .grid_29 {
    width: 775px
}

.container .grid_30,.container_27 .grid_30 {
    width: 802px
}

.container .grid_31,.container_27 .grid_31 {
    width: 829px
}

.container .grid_32,.container_27 .grid_32 {
    width: 856px
}

.container .grid_33,.container_27 .grid_33 {
    width: 883px
}

.container .grid_34,.container_27 .grid_34 {
    width: 910px
}

.container .grid_35,.container_27 .grid_35 {
    width: 937px
}

.container .grid_36,.container_27 .grid_36 {
    width: 964px
}

.container .prefix_1,.container_27 .prefix_1 {
    padding-left: 27px
}

.container .prefix_2,.container_27 .prefix_2 {
    padding-left: 54px
}

.container .prefix_3,.container_27 .prefix_3 {
    padding-left: 81px
}

.container .prefix_4,.container_27 .prefix_4 {
    padding-left: 108px
}

.container .prefix_5,.container_27 .prefix_5 {
    padding-left: 135px
}

.container .prefix_6,.container_27 .prefix_6 {
    padding-left: 162px
}

.container .prefix_7,.container_27 .prefix_7 {
    padding-left: 189px
}

.container .prefix_8,.container_27 .prefix_8 {
    padding-left: 216px
}

.container .prefix_9,.container_27 .prefix_9 {
    padding-left: 243px
}

.container .prefix_10,.container_27 .prefix_10 {
    padding-left: 270px
}

.container .prefix_11,.container_27 .prefix_11 {
    padding-left: 297px
}

.container .prefix_12,.container_27 .prefix_12 {
    padding-left: 324px
}

.container .prefix_13,.container_27 .prefix_13 {
    padding-left: 351px
}

.container .prefix_14,.container_27 .prefix_14 {
    padding-left: 378px
}

.container .prefix_15,.container_27 .prefix_15 {
    padding-left: 405px
}

.container .prefix_16,.container_27 .prefix_16 {
    padding-left: 432px
}

.container .prefix_17,.container_27 .prefix_17 {
    padding-left: 459px
}

.container .prefix_18,.container_27 .prefix_18 {
    padding-left: 486px
}

.container .prefix_19,.container_27 .prefix_19 {
    padding-left: 513px
}

.container .prefix_20,.container_27 .prefix_20 {
    padding-left: 540px
}

.container .prefix_21,.container_27 .prefix_21 {
    padding-left: 567px
}

.container .prefix_22,.container_27 .prefix_22 {
    padding-left: 594px
}

.container .prefix_23,.container_27 .prefix_23 {
    padding-left: 621px
}

.container .prefix_24,.container_27 .prefix_24 {
    padding-left: 648px
}

.container .prefix_25,.container_27 .prefix_25 {
    padding-left: 675px
}

.container .prefix_26,.container_27 .prefix_26 {
    padding-left: 702px
}

.container .prefix_27,.container_27 .prefix_27 {
    padding-left: 729px
}

.container .prefix_28,.container_27 .prefix_28 {
    padding-left: 756px
}

.container .prefix_29,.container_27 .prefix_29 {
    padding-left: 783px
}

.container .prefix_30,.container_27 .prefix_30 {
    padding-left: 810px
}

.container .prefix_31,.container_27 .prefix_31 {
    padding-left: 837px
}

.container .prefix_32,.container_27 .prefix_32 {
    padding-left: 864px
}

.container .prefix_33,.container_27 .prefix_33 {
    padding-left: 891px
}

.container .prefix_34,.container_27 .prefix_34 {
    padding-left: 918px
}

.container .prefix_35,.container_27 .prefix_35 {
    padding-left: 945px
}

.container .suffix_1,.container_27 .suffix_1 {
    padding-right: 27px
}

.container .suffix_2,.container_27 .suffix_2 {
    padding-right: 54px
}

.container .suffix_3,.container_27 .suffix_3 {
    padding-right: 81px
}

.container .suffix_4,.container_27 .suffix_4 {
    padding-right: 108px
}

.container .suffix_5,.container_27 .suffix_5 {
    padding-right: 135px
}

.container .suffix_6,.container_27 .suffix_6 {
    padding-right: 162px
}

.container .suffix_7,.container_27 .suffix_7 {
    padding-right: 189px
}

.container .suffix_8,.container_27 .suffix_8 {
    padding-right: 216px
}

.container .suffix_9,.container_27 .suffix_9 {
    padding-right: 243px
}

.container .suffix_10,.container_27 .suffix_10 {
    padding-right: 270px
}

.container .suffix_11,.container_27 .suffix_11 {
    padding-right: 297px
}


.container .suffix_12,.container_27 .suffix_12 {
    padding-right: 324px
}

.container .suffix_13,.container_27 .suffix_13 {
    padding-right: 351px
}

.container .suffix_14,.container_27 .suffix_14 {
    padding-right: 378px
}

.container .suffix_15,.container_27 .suffix_15 {
    padding-right: 405px
}

.container .suffix_16,.container_27 .suffix_16 {
    padding-right: 432px
}

.container .suffix_17,.container_27 .suffix_17 {
    padding-right: 459px
}

.container .suffix_18,.container_27 .suffix_18 {
    padding-right: 486px
}

.container .suffix_19,.container_27 .suffix_19 {
    padding-right: 513px
}

.container .suffix_20,.container_27 .suffix_20 {
    padding-right: 540px
}

.container .suffix_21,.container_27 .suffix_21 {
    padding-right: 567px
}

.container .suffix_22,.container_27 .suffix_22 {
    padding-right: 594px
}

.container .suffix_23,.container_27 .suffix_23 {
    padding-right: 621px
}

.container .suffix_24,.container_27 .suffix_24 {
    padding-right: 648px
}

.container .suffix_25,.container_27 .suffix_25 {
    padding-right: 675px
}

.container .suffix_26,.container_27 .suffix_26 {
    padding-right: 702px
}

.container .suffix_27,.container_27 .suffix_27 {
    padding-right: 729px
}

.container .suffix_28,.container_27 .suffix_28 {
    padding-right: 756px
}

.container .suffix_29,.container_27 .suffix_29 {
    padding-right: 783px
}

.container .suffix_30,.container_27 .suffix_30 {
    padding-right: 810px
}

.container .suffix_31,.container_27 .suffix_31 {
    padding-right: 837px
}

.container .suffix_32,.container_27 .suffix_32 {
    padding-right: 864px
}

.container .suffix_33,.container_27 .suffix_33 {
    padding-right: 891px
}

.container .suffix_34,.container_27 .suffix_34 {
    padding-right: 918px
}

.container .suffix_35,.container_27 .suffix_35 {
    padding-right: 945px
}

.container .push_1,.container_27 .push_1 {
    left: 27px
}

.container .push_2,.container_27 .push_2 {
    left: 54px
}

.container .push_3,.container_27 .push_3 {
    left: 81px
}

.container .push_4,.container_27 .push_4 {
    left: 108px
}

.container .push_5,.container_27 .push_5 {
    left: 135px
}

.container .push_6,.container_27 .push_6 {
    left: 162px
}

.container .push_7,.container_27 .push_7 {
    left: 189px
}

.container .push_8,.container_27 .push_8 {
    left: 216px
}

.container .push_9,.container_27 .push_9 {
    left: 243px
}

.container .push_10,.container_27 .push_10 {
    left: 270px
}

.container .push_11,.container_27 .push_11 {
    left: 297px
}

.container .push_12,.container_27 .push_12 {
    left: 324px
}

.container .push_13,.container_27 .push_13 {
    left: 351px
}

.container .push_14,.container_27 .push_14 {
    left: 378px
}

.container .push_15,.container_27 .push_15 {
    left: 405px
}

.container .push_16,.container_27 .push_16 {
    left: 432px
}

.container .push_17,.container_27 .push_17 {
    left: 459px
}

.container .push_18,.container_27 .push_18 {
    left: 486px
}

.container .push_19,.container_27 .push_19 {
    left: 513px
}

.container .push_20,.container_27 .push_20 {
    left: 540px
}

.container .push_21,.container_27 .push_21 {
    left: 567px
}

.container .push_22,.container_27 .push_22 {
    left: 594px
}

.container .push_23,.container_27 .push_23 {
    left: 621px
}

.container .push_24,.container_27 .push_24 {
    left: 648px
}

.container .push_25,.container_27 .push_25 {
    left: 675px
}

.container .push_26,.container_27 .push_26 {
    left: 702px
}

.container .push_27,.container_27 .push_27 {
    left: 729px
}

.container .push_28,.container_27 .push_28 {
    left: 756px
}

.container .push_29,.container_27 .push_29 {
    left: 783px
}

.container .push_30,.container_27 .push_30 {
    left: 810px
}

.container .push_31,.container_27 .push_31 {
    left: 837px
}

.container .push_32,.container_27 .push_32 {
    left: 864px
}

.container .push_33,.container_27 .push_33 {
    left: 891px
}

.container .push_34,.container_27 .push_34 {
    left: 918px
}

.container .push_35,.container_27 .push_35 {
    left: 945px
}

.container .pull_1,.container_27 .pull_1 {
    left: -27px
}

.container .pull_2,.container_27 .pull_2 {
    left: -54px
}

.container .pull_3,.container_27 .pull_3 {
    left: -81px
}

.container .pull_4,.container_27 .pull_4 {
    left: -108px
}

.container .pull_5,.container_27 .pull_5 {
    left: -135px
}

.container .pull_6,.container_27 .pull_6 {
    left: -162px
}

.container .pull_7,.container_27 .pull_7 {
    left: -189px
}

.container .pull_8,.container_27 .pull_8 {
    left: -216px
}

.container .pull_9,.container_27 .pull_9 {
    left: -243px
}

.container .pull_10,.container_27 .pull_10 {
    left: -270px
}

.container .pull_11,.container_27 .pull_11 {
    left: -297px
}

.container .pull_12,.container_27 .pull_12 {
    left: -324px
}

.container .pull_13,.container_27 .pull_13 {
    left: -351px
}

.container .pull_14,.container_27 .pull_14 {
    left: -378px
}

.container .pull_15,.container_27 .pull_15 {
    left: -405px
}

.container .pull_16,.container_27 .pull_16 {
    left: -432px
}

.container .pull_17,.container_27 .pull_17 {
    left: -459px
}

.container .pull_18,.container_27 .pull_18 {
    left: -486px
}

.container .pull_19,.container_27 .pull_19 {
    left: -513px
}

.container .pull_20,.container_27 .pull_20 {
    left: -540px
}

.container .pull_21,.container_27 .pull_21 {
    left: -567px
}

.container .pull_22,.container_27 .pull_22 {
    left: -594px
}

.container .pull_23,.container_27 .pull_23 {
    left: -621px
}

.container .pull_24,.container_27 .pull_24 {
    left: -648px
}

.container .pull_25,.container_27 .pull_25 {
    left: -675px
}

.container .pull_26,.container_27 .pull_26 {
    left: -702px
}

.container .pull_27,.container_27 .pull_27 {
    left: -729px
}

.container .pull_28,.container_27 .pull_28 {
    left: -756px
}

.container .pull_29,.container_27 .pull_29 {
    left: -783px
}

.container .pull_30,.container_27 .pull_30 {
    left: -810px
}

.container .pull_31,.container_27 .pull_31 {
    left: -837px
}

.container .pull_32,.container_27 .pull_32 {
    left: -864px
}

.container .pull_33,.container_27 .pull_33 {
    left: -891px
}

.container .pull_34,.container_27 .pull_34 {
    left: -918px
}

.container .pull_35,.container_27 .pull_35 {
    left: -945px
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.clearfix:before,.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.fancybox-opened {
    z-index: 8030
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5)
}

.fancybox-outer,.fancybox-inner {
    position: relative
}

.fancybox-inner {
    overflow: hidden
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}

.fancybox-error {
    color: #444;
    font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}

.fancybox-image,.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%
}

#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span {
    background-image: url(http://img.s.habitat.eu/bundles/wfhabfrontasset/images/fancybox/fancybox_sprite.png)
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: .8;
    cursor: pointer;
    z-index: 8060
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(http://img.s.habitat.eu/bundles/wfhabfrontasset/images/fancybox/fancybox_loading.gif) center center no-repeat
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(http://img.s.habitat.eu/bundles/wfhabfrontasset/images/fancybox/blank.gif);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040
}

.fancybox-prev {
    left: 0
}

.fancybox-next {
    right: 0
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}

.fancybox-nav:hover span {
    visibility: visible
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible!important
}

.fancybox-lock {
    overflow: hidden!important;
    width: auto
}

.fancybox-lock body {
    overflow: hidden!important
}

.fancybox-lock-test {
    overflow-y: hidden!important
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url(/img/fancybox_overlay.png)
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}

.fancybox-title {
    visibility: hidden;
    font: normal 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    position: relative;
    text-shadow: none;
    z-index: 8050
}

.fancybox-opened .fancybox-title {
    visibility: visible
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0,0,0,0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}

.fancybox-title-inside-wrap {
    padding-top: 10px
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0,0,0,0.8)
}

#fancybox-thumbs {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 8050
}

#fancybox-thumbs.bottom {
    bottom: 2px
}

#fancybox-thumbs.top {
    top: 2px
}

#fancybox-thumbs ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0
}

#fancybox-thumbs ul li {
    float: left;
    padding: 1px;
    opacity: .5
}

#fancybox-thumbs ul li.active {
    opacity: .75;
    padding: 0;
    border: 1px solid #fff
}

#fancybox-thumbs ul li:hover {
    opacity: 1
}

#fancybox-thumbs ul li a {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #222;
    background: #111;
    outline: 0
}

#fancybox-thumbs ul li img {
    display: block;
    position: relative;
    border: 0;
    padding: 0;
    max-width: none
}



.link-brown {
    color: #a3916f
}

.link-brown.arrow {
    background: url(http://img.s.habitat.eu/bundles/wfhabfrontasset/images/sprite_vertical.png) no-repeat no-repeat 0 -48px;
    padding-left: 10px
}

.link-brown.backarrow {
    background: url(http://img.s.habitat.eu/bundles/wfhabfrontasset/images/sprite_vertical.png) no-repeat no-repeat 0 -348px;
    padding-left: 10px
}

.link-blue {
    color: #007889
}

.legend {
    color: #9c9d9f
}

.f-din-regular {
    font: 12px DINRegular,sans-serif
}

.f-din-rounded {
    font: 12px DINRounded,sans-serif
}



a.btn_grey {
    padding: 3px 20px
}
.t-center {
    text-align: center
}

.t-justify {
    text-align: justify
}

.t-right {
    text-align: right
}

.t-left {
    text-align: left
}

.v-align-m {
    vertical-align: middle
}

.v-align-t {
    vertical-align: top
}

.v-align-b {
    vertical-align: bottom
}

.v-align-s {
    vertical-align: sub
}

.p-none {
    padding: 0
}

.p-5 {
    padding: 5px
}

.p-10 {
    padding: 10px
}

.p-15 {
    padding: 15px
}

.p-20 {
    padding: 20px
}

.p-25 {
    padding: 25px
}

.p-30 {
    padding: 30px
}

.p-50 {
    padding: 50px
}

.p-top-2 {
    padding-top: 2px
}

.p-top-4 {
    padding-top: 4px
}

.p-top-5 {
    padding-top: 5px
}

.p-top-7 {
    padding-top: 7px
}

.p-top-8 {
    padding-top: 8px
}

.p-top-10 {
    padding-top: 10px
}

.p-top-13 {
    padding-top: 13px
}

.p-top-15 {
    padding-top: 15px
}

.p-top-20 {
    padding-top: 20px
}

.p-top-25 {
    padding-top: 25px
}

.p-top-30 {
    padding-top: 30px
}

.p-top-35 {
    padding-top: 35px
}

.p-top-40 {
    padding-top: 40px
}

.p-top-50 {
    padding-top: 50px
}

.p-top-310 {
    padding-top: 310px
}

.p-left-5 {
    padding-left: 5px
}

.p-left-10 {
    padding-left: 10px
}

.p-left-13 {
    padding-left: 13px
}

.p-left-15 {
    padding-left: 15px
}

.p-left-20 {
    padding-left: 20px
}

.p-left-25 {
    padding-left: 25px
}

.p-left-30 {
    padding-left: 30px
}

.p-left-40 {
    padding-left: 40px
}

.p-left-50 {
    padding-left: 50px
}

.p-left-60 {
    padding-left: 60px
}

.p-left-130 {
    padding-left: 130px
}

.p-right-5 {
    padding-right: 5px
}

.p-right-10 {
    padding-right: 10px
}

.p-right-15 {
    padding-right: 15px
}

.p-right-18 {
    padding-right: 18px
}

.p-right-20 {
    padding-right: 20px
}

.p-right-50 {
    padding-right: 50px
}

.p-right-130 {
    padding-right: 130px
}

.p-bottom-3 {
    padding-bottom: 3px
}

.p-bottom-5 {
    padding-bottom: 5px
}

.p-bottom-10 {
    padding-bottom: 10px
}

.p-bottom-16 {
    padding-bottom: 16px
}

.p-bottom-20 {
    padding-bottom: 20px
}

.p-bottom-25 {
    padding-bottom: 25px
}

.p-bottom-30 {
    padding-bottom: 30px
}

.p-bottom-50 {
    padding-bottom: 50px
}

.m-none {
    margin: 0
}

.m-5 {
    margin: 5px
}

.m-10 {
    margin: 10px
}

.m-20 {
    margin: 20px
}

.m-30 {
    margin: 30px
}

.m-left-5 {
    margin-left: 5px
}

.m-left-7 {
    margin-left: 7px
}

.m-left-8 {
    margin-left: 8px
}

.m-left-10 {
    margin-left: 10px
}

.m-left-m-10 {
    margin-left: -10px
}

.m-left-15 {
    margin-left: 15px
}

.m-left-20 {
    margin-left: 20px
}

.m-left-25 {
    margin-left: 25px
}

.m-left-27 {
    margin-left: 27px
}

.m-left-30 {
    margin-left: 30px
}

.m-left-35 {
    margin-left: 35px
}

.m-left-40 {
    margin-left: 40px
}

.m-left-50 {
    margin-left: 50px
}

.m-left-65 {
    margin-left: 65px
}

.m-right-0 {
    margin-right: 0
}

.m-right-3 {
    margin-right: 3px
}

.m-right-5 {
    margin-right: 5px
}

.m-right-6 {
    margin-right: 6px
}

.m-right-10 {
    margin-right: 10px
}

.m-right-15 {
    margin-right: 15px
}

.m-right-20 {
    margin-right: 20px
}

.m-right-30 {
    margin-right: 30px
}

.m-right-40 {
    margin-right: 40px
}

.m-right-115 {
    margin-right: 115px
}

.m-top-minus-2 {
    margin-top: -2px
}

.m-top-2 {
    margin-top: 2px
}

.m-top-3 {
    margin-top: 3px
}

.m-top-5 {
    margin-top: 5px
}

.m-top-7 {
    margin-top: 7px
}

.m-top-8 {
    margin-top: 8px
}

.m-top-10 {
    margin-top: 10px
}

.m-top-15 {
    margin-top: 15px
}

.m-top-20 {
    margin-top: 20px
}

.m-top-25 {
    margin-top: 25px
}

.m-top-30 {
    margin-top: 30px
}

.m-top-40 {
    margin-top: 40px
}

.m-top-45 {
    margin-top: 45px
}

.m-top-50 {
    margin-top: 50px
}

.m-top-75 {
    margin-top: 75px
}

.m-top-80 {
    margin-top: 80px
}

.m-bottom-0 {
    margin-bottom: 0
}

.m-bottom-3 {
    margin-bottom: 3px
}

.m-bottom-5 {
    margin-bottom: 5px
}

.m-bottom-8 {
    margin-bottom: 8px
}

.m-bottom-10 {
    margin-bottom: 10px
}

.m-bottom-12 {
    margin-bottom: 12px
}

.m-bottom-15 {
    margin-bottom: 15px
}

.m-bottom-20 {
    margin-bottom: 20px
}

.m-bottom-25 {
    margin-bottom: 25px
}

.m-bottom-30 {
    margin-bottom: 30px
}

.m-bottom-40 {
    margin-bottom: 40px
}

.m-bottom-50 {
    margin-bottom: 50px
}

.m-bottom-55 {
    margin-bottom: 55px
}

.m-bottom-100 {
    margin-bottom: 100px
}

.t-8 {
    font-size: 8px
}

.t-9 {
    font-size: 9px
}

.t-10 {
    font-size: 10px
}

.t-11 {
    font-size: 11px
}

.t-12 {
    font-size: 12px
}

.t-13 {
    font-size: 13px
}

.t-14 {
    font-size: 14px
}

.t-15 {
    font-size: 15px
}

.t-16 {
    font-size: 16px
}

.t-17 {
    font-size: 17px
}

.t-18 {
    font-size: 18px
}

.t-20 {
    font-size: 20px
}

.t-21 {
    font-size: 21px
}

.t-22 {
    font-size: 22px
}

.t-23 {
    font-size: 23px
}

.t-25 {
    font-size: 25px
}

.t-25 {
    font-size: 25px
}

.t-27 {
    font-size: 27px
}

.t-28 {
    font-size: 28px
}

.t-30 {
    font-size: 30px
}

.t-32 {
    font-size: 32px
}

.t-34 {
    font-size: 34px
}

.t-35 {
    font-size: 35px
}

.t-36 {
    font-size: 36px
}

.t-40 {
    font-size: 40px
}

.t-45 {
    font-size: 45px
}

.t-53 {
    font-size: 53px
}

.t-60 {
    font-size: 60px
}

.h-70 {
    height: 70px
}

.h-50 {
    height: 50px
}

.h-25 {
    height: 25px
}

.h-190 {
    height: 190px
}

.l-height-14 {
    line-height: 14px
}

.l-height-20 {
    line-height: 20px
}

.l-height-21 {
    line-height: 21px
}

.l-height-27 {
    line-height: 27px
}

.din-rounded {
    font-family: DINRounded,sans-serif
}

.din-medium {
    font-family: DINMedium,sans-serif
}

.din-bold {
    font-family: DINBold,sans-serif
}

.hyphens {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.o-hidden {
    overflow: hidden
}

.o-scroll {
    overflow: auto
}

.hidden {
    display: none
}

.inline {
    display: inline
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.blank {
    background: white;
    width: 100%
}

.strong {
    font-weight: bold
}

.uppercase {
    text-transform: uppercase
}

.underline {
    text-decoration: underline
}

.bold {
    font-weight: bold
}

.italic {
    font-style: italic
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.strike {
    text-decoration: line-through
}

.tranform-none {
    text-transform: none
}

.full-width {
    width: 100%
}

.pointer {
    cursor: pointer
}

.no-pointer {
    cursor: default
}

.no-border {
    border: 0
}

.no-top-border {
    border-top: 0
}

.no-bottom-border {
    border-bottom: 0
}

.no-left-border {
    border-left: none
}

.no-right-border {
    border-right: 0
}

.border-form-grey {
    border: 1px solid #e8e9e9
}

.border-grey {
    border: 1px solid #cecece
}

.border-top-grey {
    border-top: 1px solid #cecece
}

.border-top-light-grey {
    border-top: 1px solid #cecece
}

.border-right-grey {
    border-right: 1px solid #cecece
}

.border-bottom-grey {
    border-bottom: 1px solid #cecece
}

.border-left-grey {
   /* border-left: 1px solid #cecece*/
}

/*********************************************** *********************************************************/
.width_menu { width:180px; }

menu#menu_container {
	/*float:right;*/
    position: absolute;
    /*margin-bottom: 20px;*/
    clear: both;
    /*margin-top: 20px*/ 
    margin:0 auto;
    width:900px;
	margin-left:250px;
	padding-top:0px;
	
}

menu#menu_container #menu-wrapper {
    /*ont: 14px DINMedium,sans-serif;*/
    height: 27px;
    /*border-top:2px solid #a92a7e; border-bottom:2px solid #a92a7e;
    background:url(../images/common/top_nav_bg.gif) bottom left repeat-x;
    min-width:1120px;*/
    
}

menu#menu_container #menu-wrapper #menu-ul {
    position: relative; margin-top:68px;
    /*float: left;
    margin: 4px 0*/
}

menu#menu_container #menu-wrapper #menu-ul li {
    float: left
}

menu#menu_container #menu-wrapper #menu-ul li span.level-1 {
    line-height: 17px;
    border-right: 1px solid #535353;
	display: block
}

menu#menu_container #menu-wrapper #menu-ul li span.level-1 a {
    display: inline-block;
    line-height: 17x;
    vertical-align: bottom;
    text-align: center;
    /*padding: 10px 16px 4px*/
    width:98%;
    margin:0 auto;
    font-size:1.4em;
    font-weight:600;
    text-decoration:none;
    color:#1b1b1b;
	/*text-shadow: 1px 1px 1px #FFF1BA;*/
}

menu#menu_container #menu-wrapper #menu-ul li span.level-1 a.mea,menu#menu_container #menu-wrapper #menu-ul li span.level-1 a:hover {
    color: #0056a7;
    
	/*-webkit-box-shadow:inset 2px 2px 0  rgba(0,0,0,0.1);
	box-shadow:inset 2px 2px 0  rgba(0,0,0,0.1);*/
}

menu#menu_container #menu-wrapper #menu-ul li.p-top-menu span.level-1 a {
    /*padding: 23px 16px 5px*/
}

menu#menu_container #menu-wrapper #menu-ul li:first-child span.level-1 {
    /*border-left: 1px solid #cecece*/
}

menu#menu_container #menu-wrapper #menu-ul li:hover .submenu {
    display: block
}

menu#menu_container #submenu-wrapper {

}
.kwidth { min-height:175px; }

menu#menu_container #submenu-wrapper .submenu-top {
    font-size: 2.5em;
    font-weight:600;
    line-height:120%;
    padding-bottom:10px;
    border-bottom: 1px solid #cecece;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    display:none;
}

menu#menu_container #submenu-wrapper .submenu-top a {
    font: 12px Arial;
    color: #a3916f;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 5px;
    padding-left: 20px
}

menu#menu_container #submenu-wrapper span {
    display: block;
    padding: 2px 0
}

menu#menu_container #submenu-wrapper span.level-2 {
    padding-top: 11px;
	
}

menu#menu_container #submenu-wrapper span a.level-2 {
    font-weight: 600;
   /* color: #d9c0a5;*/
    font-size:1.2em;
    font-family:"nanumgothic";
    text-decoration:none;
}

menu#menu_container #submenu-wrapper span a.level-2:hover {
    color:#0056a7;
	font-size:1.3em;
	
	
	
	
}

menu#menu_container #submenu-wrapper span.level-3 {
    padding-left: 15px
}

menu#menu_container #submenu-wrapper span.level-3 a {
    font-size:1.1em;
}

menu#menu_container #submenu-wrapper span.projector {
    color: #999;
    font: 18px DINRegular,Arial,sans-serif
}

/*div.grid_9 { float:left }*/

/*--------------- left ----------------------*/
.menu_list {    
    /*width: 150px;*/
}
.menu_head {
    padding: 0 10px;
    height:30px;
    line-height:30px;
    cursor: pointer;
    position: relative;
    font-size:1em;
    font-weight:600;
    background:#fff url(../images/common/left_menu_bullet01.gif) center right no-repeat;
    border-bottom:1px dotted #ccc;
    font-family:"nanumgothic";
}

.menu_head_first { border-top: none }

.menu_head a {font-size:1.0em; text-decoration:none; font-family:"nanumgothic"; }

.menu_head:hover { background-color:#f7e9e8 }

.menu_body {
    display:none;
    background:#fafafa;
    background:none;
    padding:10px 0;
}
.menu_body a{
  display:block;
  color:#474747;
  /*background-color:#EFEFEF;*/
  font-size:1.0em;
  font-weight:600;
  padding:5px 0 5px 20px;
  text-decoration:none;
  background:url(../images/common/left_menu_bullet03.gif) 10px center no-repeat;
  text-decoration:none;
}
.menu_body a:hover{
  color: #000000;
  text-decoration:none;
  background:#fff8f7 url(../images/common/left_menu_bullet01.gif) right center no-repeat;
}

#submenu-top_menu_01{ 
	margin-left:13px;
    width:152px;
	height:175px;
	border-bottom: 3px solid #0056a7;
	border-top:none;
	
    /*margin-top: 10px;*/
    padding-top:18px;  
    background:url(/theme/basic/img/gnb_sub_bg.png) no-repeat top left ; 
    clear: both;

}

#submenu-top_menu_05{ 
	margin-left:740px;
    width:152px;
	height:42px;
	border-bottom: 3px solid #0056a7;
	border-top:none;
	
    /*margin-top: 10px;*/
    padding-top:18px;  
    background:url(/theme/basic/img/gnb_sub_bg02.png) no-repeat top left ; 
    clear: both;


}